# --- Build Artifacts ---
target/
bin/
*.jar
*.war
*.ear

# --- IDE Specific (Eclipse) ---
.settings/
.project
.classpath
.factorypath
.metadata/

# --- IDE Specific (IntelliJ/VSCode) ---
.idea/
*.iml
*.iws
.vscode/

# --- Logs & Crash Reports ---
*.log
hs_err_pid*
replay_pid*

# --- OS Specific ---
.DS_Store
Thumbs.db

# --- Plugin Testing (Caso você teste na raiz) ---
plugins/
world/
logs/
